*{
padding: 0;
margin: 0;
box-sizing: border-box;
}

#root {
  max-width: 1280px;
  /* margin: 0 auto; */
  /* padding: 2rem; */
  position: relative;
}
.carousel-content img{
  height: auto;
  width: 100px;
}
.home{
  text-align: center;
  padding: 20px;
  font-family: Arial, sans-serif;
}
.carousel-prev,
.carousel-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  font-size: 24px;
  border: none;
  cursor: pointer;
  padding: 10px;
}

.carousel-prev {
  left: 0;
}

.carousel-next {
  right: 0;
}

/* Hover effect for buttons */
.carousel-prev:hover,
.carousel-next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
.content{
  display: flex;
  background-color: orange;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  flex-wrap: nowrap;
  padding: 10px;
  margin: 2%;
  width: 50%;
  height: 75%;
}
.content li{
  list-style: none;
  margin: 10px;
  border-radius: 5px;
  background-color: azure;
}
.contacts{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contacts input{
  border: none;
  background-color: antiquewhite;
  outline: none;
  border-bottom: 3px solid black;
  border-radius: 5px;
}
.contacts button{
  border-radius: 5px;
  background-color: aliceblue;
  outline: none;
  border: none;
}


footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

footer a {
  color: #fff;
  text-decoration: none;
  margin: 0 15px;
}

footer a:hover {
  text-decoration: underline;
}

.contact-info {
  margin-top: 10px;
  font-size: 16px;
}
.upwardbtn{
position: absolute;
bottom: 2%;
align-items: center;
left: 50%;
position: fixed;

}
