#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  
}
.carousel-content img{
  height: auto;
  width: 100px;
}
.home{
  text-align: center;
  padding: 20px;
  font-family: Arial, sans-serif;
}
.carousel-prev,
.carousel-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  font-size: 24px;
  border: none;
  cursor: pointer;
  padding: 10px;
}

.carousel-prev {
  left: 0;
}

.carousel-next {
  right: 0;
}

/* Hover effect for buttons */
.carousel-prev:hover,
.carousel-next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

