*{
padding: 0;
margin: 0;
box-sizing: border-box;
}

#root {
  /* max-width: 1280vw; */
  width: 100%;
  /* margin: 0 auto; */
  /* padding: 2rem; */
  position: relative;
}
.carousel-content img{
  height: auto;
  width: 100px;
}
.home{
  text-align: center;
  padding: 20px;
  font-family: Arial, sans-serif;
}
.carousel-prev,
.carousel-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  font-size: 24px;
  border: none;
  cursor: pointer;
  padding: 10px;
}
.navbar-brand img{
  height: 100px;
  width: 100px;
  margin-left: 20px;
  object-fit: contain;
  
}

.carousel-prev {
  left: 0;
}

.carousel-next {
  right: 0;
}

/* Hover effect for buttons */
.carousel-prev:hover,
.carousel-next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
.content{
  display: flex;
  background-color: orange;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  flex-wrap: nowrap;
  padding: 10px;
  margin: 2%;
  width: 50%;
  height: 75%;
}
.content li{
  list-style: none;
  margin: 10px;
  border-radius: 5px;
  background-color: azure;
}
.contacts{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contacts input{
  border: none;
  background-color: antiquewhite;
  outline: none;
  border-bottom: 3px solid black;
  border-radius: 5px;
}
.contacts button{
  border-radius: 5px;
  background-color: aliceblue;
  outline: none;
  border: none;
}


footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

footer a {
  color: #fff;
  text-decoration: none;
  margin: 0 15px;
}

footer a:hover {
  text-decoration: underline;
}

.contact-info {
  margin-top: 10px;
  font-size: 16px;
}
.upwardbtn{
position: absolute;
bottom: 2%;
align-items: center;
left: 50%;
position: fixed;

}
.search{
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
}
.search input{
  border-radius: 20px;
  outline: none;
  padding: 20px;
  margin: 20px;
}
.searchitem{
  position: absolute;
  top: 10%;
  
  width: 50%;
  /* background: rgba(255, 255, 255, 0.8); Semi-transparent white background */
  z-index: 1; /* Ensure the overlay is on top of other content */
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items:flex-start;
  position: fixed;
  top: 25%;
  
}

.searchitem .item{
  border: 1px solid #ddd;
  padding: 10px;
  margin: 5px;
  width: 200px;
  background-color: #fff;
  text-align: center;
  /* display: inline-block; */
}
.description-container {
  max-width: 600px;
  margin: 0 auto;
  
}

/* App.css */

.expandable-content {
  margin-top: 20px;
}

.expand-toggle {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
}

.expand-toggle h4 {
  margin: 0;
}

.expanded {
  background-color: #e0e0e0;
}
.calls{
  display: flex;
  flex-direction: row;
  align-items: center;
  font-weight: bolder;
  justify-content: space-evenly;
}
.calls div{
  margin: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}
.calls div:hover{
  transform: translate(5px,5px);
  cursor: cell;
  color: chartreuse;
}
.next{
  display: flex;
  justify-content: space-around;
}
