.images{
    height: 200px;
    width: 200px;
}
.gallary{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.gallary button{
    height: 50px;
    background-color: bisque;
    border: solid;
    border-radius:  7px;
    margin: 6px;
    
}

  