.products{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}
.eachitem{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: aqua;
    width: auto;
    margin: 5px;
    border-radius: 10px;
    align-items: center;
}
.descriptions{
    background-color: azure;
    border-radius: 10px;

    padding: 5px;
    text-align: center;
}
.products img{
    height: 200px;
    width: 200px;
}
@media (max-width:480px) {
    .descriptions{
        width: 100%;
    }
    
}
:root {
    --size-3: 20px;
  }
  
.scroll-container {
    /* --spacer:2rem; */
display: grid;
grid-auto-flow: column;
 gap: var(--size-3);
overflow-x: auto;
/* grid-auto-columns: 21%; */
padding: 0 var(--_spacer) var(--spacer);
overscroll-behavior-inline: contain;
  scroll-snap-type: mandatory ;
  scroll-snap-align: auto;
}
  /* .eachitem-scroll{
    display: grid;
    grid-template-columns: min-content;
    gap: var(--_spacer);
padding: var(--size-3);
background: var(--surface-2);
border-radius: var(--radius-2);
box-shadow: var(--shadow-3);
  } */
  /* .eachitem-scroll > img{
inline-size: 100%;
aspect-ratio: 16/9;
object-fit: cover;
  } */
  
  .scroll-container img {
    height: 100px;
    width: 150px;
    margin: 10px;
    padding: 10px;
  }
  
  
  
