.products{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    
}
.eachitem{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    background-color: bisque;
    width: auto;
    margin: 5px;
    border-radius: 10px;
    align-items: center;
  ;
}
.descriptions{
  background-color: bisque;
    
    border-radius: 10px;

    padding: 5px;
    text-align: center;
}
.products img{
    height: 200px;
    width: 200px;
    object-fit: contain;
    
}
@media (max-width:480px) {
    .descriptions{
        width: 100%;
    }
    
}
:root {
    --size-3: 20px;
  }
  
.scroll-container {
    /* --spacer:2rem; */
display: grid;
grid-auto-flow: column;
 gap: var(--size-3);
overflow-x: auto;
/* grid-auto-columns: 21%; */
padding: 0 var(--_spacer) var(--spacer);
overscroll-behavior-inline: contain;
  scroll-snap-type: mandatory ;
  scroll-snap-align: auto;
  position: relative
}
  
  
  .scroll-container img {
    height: 100px;
    width: 150px;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
   
  }
  .cost{
    position: absolute;
    background-color: rgb(74, 245, 74);
    top: 50%;
    width: 50px;
    border-radius: 10px;
  }
  .costs{
border-radius: 10px;
    background-color: rgb(74, 245, 74);
    top: 50%;
    width: 50px;
  }
  .desc{
    color: red;
  }
  .eachitem-scroll{
    display: flex;
    flex-direction: column;
    background-color: azure;
    border-radius: 10px;
    justify-content: space-evenly;
    align-items: center;
    transition: background-color 0.3s ease;

  }

  
  .cart{
  
  }
  .info{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    margin: 20px;
    padding: 10px;
    justify-content: center;
    flex-wrap: wrap;
    background-color: bisque;
  }
  .info img{
    height: 300px;
    width: 300px;
    object-fit: contain;
    margin: 20px;

  }
  .info-child{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .info-child p{
    color: red;
  }
  .info-child h3{
    color: blue;
  }
  .info-child h5{
    color: green;
  }
  .info-child h4{
    color: orange;
  }
  .eachitem-scroll:hover{
    transform: translate(5px, 10px);
    
    border: 1px solid #2980b9;
    cursor: cell;
  }
  .eachitem:hover{
    transform: translate(5px, 10px);

    border: 1px solid #2980b9;
    cursor: cell;
  }

  
  
